@font-face {
   font-family:"Industry-Light";
   src: url("../src/assets/fonts/Industry-Light.ttf") format("truetype");
}
@font-face {
   font-family:"Industry-Medium";
   src: url("../src/assets/fonts/Industry-Medium.ttf") format("truetype");
}

body {
   font-family: "Industry-Light", 'Arial Narrow', Arial, sans-serif;
   color: #fff;
   letter-spacing: 0.1em;
}

h1, h2, p, span {
   margin: 0;
}

html {
   overflow: hidden;
}